html, body {
  height: 100%;
  width: 100%;
  background-color:#c7c6c6 ;
}

h1 {
  color: orange;
  text-align: center;
  text-shadow: 1px 1px 2px black;
}

li{
  text-align: justify;
}

a{
  display: flex;
  justify-content: center;
  color:white;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
}